@import url("./newletters.css");
@import url("./profile.css");
:root {
  /* Colors */
  --accent-color: #191181;
  --darker-color: #403a50;
  /* Element sizes */
  --sidebar-width: clamp(120px, 20vw, 200px);

  /* Typography */
  --font-large: clamp(1.5rem, 2vw, 2.5rem);
  --font-medium: clamp(1.2rem, 1.5vw, 2rem);
  --font-small: clamp(1rem, 1vw, 1.5rem);
  --font-xsmall: clamp(0.8rem, 0.5vw, 1.2rem);
  --font-sidebar: clamp(1.5rem, 1.5vw, 2rem);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: #ecebebc3;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: var(--sidebar-width);
  height: 100%;
  background-color: var(--accent-color);
  padding: 20px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
  padding: 0;
}

.nav-link {
  color: #ffff;
  font-size: var(--font-sidebar);
  text-decoration: none;
  transition: all ease-in-out 300ms;
}
.nav-link:hover {
  text-decoration: underline;
}

#content {
  padding: 15px 20px 5px 20px;
  margin-left: var(--sidebar-width);
  container-type: inline-size;
  min-height: 100vh;
}

.title {
  margin-bottom: 12px;
  font-size: var(--font-large);
}

.button-link {
  display: inline-block;
  background-color: var(--accent-color);
  padding: 5px 10px;
  color: #ffff;
  border-radius: 5px;
  font-size: var(--font-small);
  text-decoration: none;
}

footer {
  position: relative;
  width: calc(100% - var(--sidebar-width));
  bottom: 0;
  margin-top: 2rem;
  margin-left: var(--sidebar-width);
  padding: 10px;
  background-color: var(--darker-color);
  right: 0;
  color: white;
}

#copyright {
  width: 100%;
  text-align: center;
}
